@model List<Arraza>

<div class="container>">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Zoo-an ikusi daitezken arrazak
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="arraza" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Arraza berria sortu
            </a>
        </div>

    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Arraza
                </th>
                <th>
                    Deskribapena
                </th>
                <th>
                    Lekua
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.ID))
            {
                <tr>
                    <td><img src="@obj.ImageUrl" width="100px" style="border-radius:5px; border:1px solid #bbb9b9" /></td>
                    <td>@obj.Izena</td>
                    <td>@obj.Mota</td>
                    @foreach (var lk in ViewBag.objLekuaList)
                        {
                            @if (@obj.ID_lekua == lk.ID)
                            {
                                <td>@lk.Izena</td>
                            }
                        }
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="arraza" asp-action="Upsert" asp-route-id="@obj.ID" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> 
                            </a>
                            <a asp-controller="arraza" asp-action="Delete" asp-route-id="@obj.ID" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> 
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-6 col-md-3">
            <a asp-controller="Home" asp-action="Gestion" class="btn btn-secondary border form-control">
                Kudeaketara bueltatu
            </a>
        </div>
    </div>
</div>
