@model List<Arraza>

<div class="container>">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-dark">
                Zoo-an ikusi daitezken arrazak
            </h2>
        </div>
    </div>
    <div class="row">
        @foreach (var obj in Model.OrderBy(u => u.ID))
        {
            <div class="col-4">
                <div class="card  shadow-sm  " >
                <img src="@obj.ImageUrl" class="card-img-top" alt="..." style="height:400px; width:auto">
                <div class="card-body">
                    <h5 class="card-title">@obj.Izena</h5>
                    <p class="card-text" >@obj.Deskribapena</p>
                    @foreach (var lk in ViewBag.objLekuaList)
                    {
                        @if (@obj.ID_lekua == lk.ID)
                        {
                            <p class="card-text">@lk.Izena</p>
                        }
                    }
                        <a href="#" class="btn btn-success">Ikusi animaliak</a>
                </div>
            </div>
            </div>

        }
    </div>

</div>
