@model List<Arraza>

<div class="container>">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Zoo-an ikusi daitezken arrazak
            </h2>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Arraza
                </th>
                <th>
                    Deskribapena
                </th>
                <th>
                    Lekua
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.ID))
            {
                <tr>
                    <td><img src="@obj.ImageUrl" width="100px" style="border-radius:5px; border:1px solid #bbb9b9" /></td>
                    <td>@obj.Izena</td>
                    <td>@obj.Mota</td>
                    @foreach (var lk in ViewBag.objLekuaList)
                    {
                        @if (@obj.ID_lekua == lk.ID)
                        {
                            <td>@lk.Izena</td>
                        }
                    }
                </tr>
            }
        </tbody>

    </table>
</div>
